.about-heading {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  width: 60%;
  margin: auto;
}

img {
  width: 50%;
}

.about-text {
  width: 50%;
  margin: auto;
}

.about-div {
  text-align: center;
}

hr {
  width: 90%;
}
