.city-square {
  border: solid 1px #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C5C2B9;
  font-size: 20px;
  color: #FFFFFF;
  /* padding: 20px; */
  /* font-size: 20px; */
  /* margin: auto; */
  /* height: 150px; */
  /* padding: 50px 100px 50px 100px; */
}

.container-right {
  display: grid;
  grid-template-columns: auto auto auto;
}
