.contact-heading {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  width: 60%;
  margin: auto;
}

img {
  width: 50%;
}

.contact-text {
  width: 40%;
  margin: auto;
}

.contact-div {
  text-align: center;
}

hr {
  width: 90%;
}

.contact-message {
  width: 40%;
  height: 200px;
  text-align: center;
  margin-top: 20px;
}

.contact-email {
  width: 40%;
  text-align: center;
}

.contact-submit-button {
  width: 200px;
  height: 55px;
  color: #494949 !important;
  background: #ffffff;
  border-radius: 6px;
  margin-top: 10px;
}

.contact-submit-button:hover {
color: #ffffff !important;
background: #D2A09E;
transition: all 0.4s ease 0s;
}
