.navbar-div {
  height: 100px;
}

ul {
  margin: 0px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.logo {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
}

.menu {
  float: right;
}
