.main-summary {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  width: 60%;
  margin: auto;
}

.container-left {
  width: 50%;
  float: left;
  height: 350px;
}

.container-right {
  width: 50%;
  float: right;
  height: 350px;
}

.recommend-container {
  background-image: url("mountain-cloud.jpg");
}

.check-weather-container {
  background-image: url("clouds.jpg");
}

.container-text {
  text-align: center;
  padding: 40px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: 200;
  font-size: 30px;
}

.weather-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #EDD9D8;
}

.container-div {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container-left {
    width: 100%
  }

  .container-right {
    width: 100%;
  }
}
